<link rel="stylesheet" href="/frontend/css/custom-frontend.css">
<header class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xs u-clearfix u-header u-sticky u-white u-header" id="sec-f4df">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-social-icons u-spacing-10 u-text-white u-social-icons-1">
            <a class="u-social-url" target="_blank" href="#">
                <span class="u-icon u-icon-circle u-social-facebook u-social-type-logo u-icon-1">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3c92"></use>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content"
                         viewBox="0 0 112 112" x="0px" y="0px" id="svg-3c92">
                        <path d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path>
                    </svg>
                </span>
            </a>
            <a class="u-social-url" target="_blank" href="#">
                <span class="u-icon u-icon-circle u-social-linkedin u-social-type-logo u-icon-2">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6f43"></use>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content"
                         viewBox="0 0 112 112" x="0px" y="0px" id="svg-6f43">
                        <path d="M33.8,96.8H14.5v-58h19.3V96.8z M24.1,30.9L24.1,30.9c-6.6,0-10.8-4.5-10.8-10.1c0-5.8,4.3-10.1,10.9-10.1 S34.9,15,35.1,20.8C35.1,26.4,30.8,30.9,24.1,30.9z M103.3,96.8H84.1v-31c0-7.8-2.7-13.1-9.8-13.1c-5.3,0-8.5,3.6-9.9,7.1 c-0.6,1.3-0.6,3-0.6,4.8V97H44.5c0,0,0.3-52.6,0-58h19.3v8.2c2.6-3.9,7.2-9.6,17.4-9.6c12.7,0,22.2,8.4,22.2,26.1V96.8z"></path>
                    </svg>
                </span>
            </a>
            <a class="u-social-url" target="_blank" href="#">
                <span class="u-icon u-icon-circle u-social-twitter u-social-type-logo u-icon-3">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f78a"></use>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content"
                         viewBox="0 0 112 112" x="0px" y="0px" id="svg-f78a">
                        <path d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2 c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7 c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2 c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5 c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z"></path>
                    </svg>
                </span>
            </a>
        </div>
        <div class="u-container-style u-group u-palette-2-base u-group-1 custom-codepen-button-red">
            <div class="u-container-layout u-container-layout-1">
                <span class="u-border-radius-10 u-icon u-icon-rounded u-palette-2-base u-spacing-7 u-icon-4" data-href="ledgercover.com" data-animation-name="rollIn"
                      data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 60 60" style="">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-80a3"></use></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content"
                         viewBox="0 0 60 60" x="0px" y="0px" id="svg-80a3" style="color: rgb(127, 171, 218);">
                        <path style="fill:currentColor;stroke:#7383BF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;"
                              d="M50.003,27 c-0.115-8.699-7.193-16-15.919-16c-5.559,0-10.779,3.005-13.661,7.336C19.157,17.493,17.636,17,16,17c-4.418,0-8,3.582-8,8 c0,0.153,0.014,0.302,0.023,0.454C8.013,25.636,8,25.82,8,26c-3.988,1.912-7,6.457-7,11.155C1,43.67,6.33,49,12.845,49h24.507 c0.138,0,0.272-0.016,0.408-0.021C37.897,48.984,38.031,49,38.169,49h9.803C54.037,49,59,44.037,59,37.972 C59,32.601,55.106,27.961,50.003,27z"></path><path
                                style="fill:currentColor;stroke:#7383BF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;"
                                d="M50.003,27 c0,0-2.535-0.375-5.003,0"></path><path
                                style="fill:currentColor;stroke:#7383BF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;"
                                d="M8,25c0-4.418,3.582-8,8-8 s8,3.582,8,8"></path>
                    </svg>
                </span>
                <h2 class="u-text u-text-1">
                    <span class="u-text-icon u-text-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content"
                             viewBox="0 0 60 60" x="0px" y="0px" style="color: rgb(127, 171, 218); width: 1em; height: 1em;">
                            <path style="fill:currentColor;stroke:#7383BF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;"
                                  d="M50.003,27 c-0.115-8.699-7.193-16-15.919-16c-5.559,0-10.779,3.005-13.661,7.336C19.157,17.493,17.636,17,16,17c-4.418,0-8,3.582-8,8 c0,0.153,0.014,0.302,0.023,0.454C8.013,25.636,8,25.82,8,26c-3.988,1.912-7,6.457-7,11.155C1,43.67,6.33,49,12.845,49h24.507 c0.138,0,0.272-0.016,0.408-0.021C37.897,48.984,38.031,49,38.169,49h9.803C54.037,49,59,44.037,59,37.972 C59,32.601,55.106,27.961,50.003,27z"></path><path
                                    style="fill:currentColor;stroke:#7383BF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;"
                                    d="M50.003,27 c0,0-2.535-0.375-5.003,0"></path><path
                                    style="fill:currentColor;stroke:#7383BF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;"
                                    d="M8,25c0-4.418,3.582-8,8-8 s8,3.582,8,8"></path>
                        </svg>
                    </span>&nbsp;LEDGERCOVER
                </h2>
            </div>
        </div>
        <form class="u-active-palette-1-base u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-grey-5 u-hover-palette-1-base u-search u-search-left u-search-1">
            <button class="u-search-button" type="submit">
                <span class="u-search-icon u-spacing-10">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56.966 56.966" style="">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0092"></use></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-0092" x="0px" y="0px"
                         viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" class="u-svg-content">
                        <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"></path><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                    </svg>
                </span>
            </button>
            <input class="u-search-input" type="search" name="search" value="" placeholder="Search">
        </form>
        <a href="/free-risk-assessment" id="header-quote" class="u-border-0 u-border-radius-10 u-btn u-btn-round u-button-style u-palette-2-base u-btn-1">GET A QUOTE</a>
        <nav class="u-dropdown-icon u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="menu-collapse" style="font-size: 0.75rem; letter-spacing: 0; text-transform: uppercase; font-weight: 700;">
                <a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-hover-palette-1-light-1 u-nav-link u-palette-2-base u-text-palette-2-light-2"
                   href="#" style="background-image: none;">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                                <rect y="1" width="16" height="2"></rect>
                                <rect y="7" width="16" height="2"></rect>
                                <rect y="13" width="16" height="2"></rect>
                            </symbol>
                        </defs>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-custom-font u-heading-font u-nav u-spacing-2 u-unstyled u-nav-1">
                    <li class="u-nav-item">
                        <a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link
                         u-text-grey-90 <%= (typeof side != "undefined" && side == 'home')?'header-menu-active':'' %>"
                           href="/" style="padding: 10px 18px;">HomePage</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link
                         u-text-grey-90 <%= (typeof side != "undefined" && side == 'products')?'header-menu-active':'' %>"
                           style="padding: 10px 18px;">Products</a>
                        <div class="u-nav-popup">
                            <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-2">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'ledgercover-app')?'active':'' %>"
                                       href="/products/ledgercover-app">LedgerCover App</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'marketplace')?'active':'' %>"
                                       href="/products/marketplace">MarketPlace</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link
                         u-text-grey-90 <%= (typeof side != "undefined" && side == 'risk-assessment')?'header-menu-active active':'' %>"
                           href="/free-risk-assessment" style="padding: 10px 18px;">Risk Assessment</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link
                         u-text-grey-90 <%= (typeof side != "undefined" && side == 'risk-management')?'header-menu-active':'' %>"
                           style="padding: 10px 18px;">Risk Management</a>
                        <div class="u-nav-popup">
                            <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-3">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'cybersecurity-insurance')?'active':'' %>"
                                       href="/risk-management/cybersecurity-insurance">CYBERSECURITY INSURANCE</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'cyber-insurance')?'active':'' %>"
                                       href="/risk-management/cyber-insurance">Cyber Insurance</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'process')?'active':'' %>"
                                       href="/risk-management/process">The Process</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'claims')?'active':'' %>"
                                       href="/risk-management/claims">Claims</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link
                         u-text-grey-90 <%= (typeof side != "undefined" && side == 'resources')?'header-menu-active':'' %>"
                           style="padding: 10px 18px;">Resources</a>
                        <div class="u-nav-popup">
                            <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-4">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'case-studies')?'active':'' %>"
                                       href="/resources/case-studies">Case Studies</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'attack-types')?'active':'' %>"
                                       href="/resources/attack-types">Cyber Attack Types</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'attack-map')?'active':'' %>"
                                       href="/resources/attack-map">Cyber Attack Map</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'glossary')?'active':'' %>"
                                       href="/resources/glossary">Glossary</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link
                         u-text-grey-90 <%= (typeof side != "undefined" && side == 'about-us')?'header-menu-active':'' %>"
                           style="padding: 10px 18px;">About Us</a>
                        <div class="u-nav-popup">
                            <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-5">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'team')?'active':'' %>"
                                       href="/about-us/team">Meet The Team</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'contact')?'active':'' %>"
                                       href="/about-us/contact">Contact Us</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'partner')?'active':'' %>"
                                       href="/about-us/partner">Partner with Us</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'summits')?'active':'' %>"
                                       href="/about-us/summits">CyberSecurity Summits</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'faqs')?'active':'' %>"
                                       href="/about-us/faqs">FAQS</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link
                         u-text-grey-90 <%= (typeof side != "undefined" && side == 'join-us')?'header-menu-active':'' %>"
                           style="padding: 10px 18px;">Join Us</a>
                        <div class="u-nav-popup">
                            <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-6">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'career')?'active':'' %>"
                                       href="/join-us/career">Career</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'partners')?'active':'' %>"
                                       href="/join-us/partners">Our Partners</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'survey')?'active':'' %>"
                                       href="/join-us/survey">Survey</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'blog')?'active':'' %>"
                                       href="/join-us/blog">Blog</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-white <%= (typeof subside != "undefined" && subside == 'affiliate')?'active':'' %>"
                                       href="/join-us/affiliate">Affiliate</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-left u-nav u-popupmenu-items u-text-hover-palette-2-light-2 u-unstyled u-nav-7">
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="HomePage.html" style="padding: 10px 18px;">HomePage</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" style="padding: 10px 18px;">Products</a>
                            <div class="u-nav-popup">
                                <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-8">
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="LedgerCover-App.html">LedgerCover App</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="MarketPlace.html">MarketPlace</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="Risk-Assessment.html" style="padding: 10px 18px;">Risk Assessment</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" style="padding: 10px 18px;">Risk Management</a>
                            <div class="u-nav-popup">
                                <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-9">
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="CYBERSECURITY-INSURANCE.html">CYBERSECURITY INSURANCE</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="Cyber-Insurance.html">Cyber Insurance</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="The-Process.html">The Process</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="Claims.html">Claims</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" style="padding: 10px 18px;">Resources</a>
                            <div class="u-nav-popup">
                                <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-10">
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="Case-Studies.html">Case Studies</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="Cyber-Attack-Types.html">Cyber Attack Types</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="CyberAttack-Map.html">Cyber Attack Map</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="Glossary.html">Glossary</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" style="padding: 10px 18px;">About Us</a>
                            <div class="u-nav-popup">
                                <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-11">
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="About-Us.html">Meet The Team</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="Contact-Us.html">Contact Us</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="Partner-with-Us.html">Partner with Us</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="CyberSecurity-Summits.html">CyberSecurity Summits</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="Faqs.html">FAQS</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" style="padding: 10px 18px;">Join Us</a>
                            <div class="u-nav-popup">
                                <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-12">
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="Career.html">Career</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="Our-Partners.html">Our Partners</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="Survey.html">Survey</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="Blog.html">Blog</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="Affiliate.html">Affiliate</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
        </nav>
    </div>
</header>