<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/urbanui/custom/css/app-download.css">
<body>
<div class="container-scroller">
    <%- include('../partials/header') %>
    <%- include('../partials/sidebar') %>

    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper" style="padding: 0">
                <div class="section-white">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="section-left">
                                <h3 class="top-title">Download the App</h3>
                                <div class="download-svg-01">
                                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 511.399 511.399" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0605"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 511.399 511.399" x="0px" y="0px" id="svg-0605" style="enable-background:new 0 0 511.399 511.399;"><g><path style="fill:#FF9100;" d="M459.87,217.357l-86.609-50.019l-118.66,88.66l118.658,88.66l86.904-50.191   c13.55-8.232,21.636-22.617,21.636-38.467S473.712,225.766,459.87,217.357z"></path><path style="fill:#25D9F8;" d="M284.601,256c-0.13,0.167-104.915,134.891-105,135l-136.5,107.5   c-8.401-8.401-13.5-19.799-13.5-32.401V45.157c0-12.599,5.099-24,13.5-32.399L179.601,121   C179.686,121.109,284.471,255.833,284.601,256z"></path><polygon style="fill:#00C0F1;" points="284.601,256 254.601,294.699 254.601,217.299  "></polygon><path style="fill:#7FE881;" d="M373.402,167.199L284.601,256L43.101,12.759c2.999-2.701,6-4.801,9.3-6.901   c14.399-8.099,31.5-7.8,45.601,0.901L254.601,98.8L373.402,167.199z"></path><polygon style="fill:#5BC980;" points="373.402,167.199 284.601,256 254.601,226 254.601,98.8  "></polygon><path style="fill:#FF637B;" d="M373.402,344.799L254.601,413.2L97.702,504.8c-7.2,4.199-15,6.599-23.101,6.599   c-7.5,0-15-2.1-22.2-6c-3.3-2.1-6.301-4.199-9.3-6.899l241.5-242.5L373.402,344.799z"></path><polygon style="fill:#E63950;" points="373.402,344.799 254.601,413.2 254.601,286 284.601,256  "></polygon></g></svg>
                                </div>
                                <div class="download-svg-01">
                                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-075c"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-075c" style="enable-background:new 0 0 512 512;"><path style="fill:#00C3FF;" d="M407,512H105C47.103,512,0,464.897,0,407V105C0,47.103,47.103,0,105,0h302  c57.897,0,105,47.103,105,105v302C512,464.897,464.897,512,407,512z"></path><path style="fill:#00AAF0;" d="M407,0H256v512h151c57.897,0,105-47.103,105-105V105C512,47.103,464.897,0,407,0z"></path><g><path style="fill:#FFFFFF;" d="M157.649,394.515c-4.625,8.011-13.046,12.494-21.693,12.495c-4.239,0-8.531-1.077-12.458-3.344l0,0   c-11.938-6.892-16.043-22.212-9.151-34.15l4.917-8.516h57.735L157.649,394.515z"></path><path style="fill:#FFFFFF;" d="M110.5,341c-13.785,0-25-11.215-25-25s11.215-25,25-25h49.178l67.454-116.834l-18.281-31.664   c-6.892-11.938-2.788-27.258,9.15-34.151h0.001c11.938-6.892,27.258-2.786,34.15,9.151l3.848,6.665l3.848-6.664   c6.895-11.939,22.215-16.043,34.15-9.151c5.783,3.339,9.92,8.73,11.648,15.18c1.729,6.45,0.841,13.188-2.498,18.971L217.413,291   h54.079l28.868,50H110.5z"></path></g><g><path style="fill:#F2F2F2;" d="M401.5,341h-20.311l16.463,28.515c6.893,11.937,2.788,27.257-9.149,34.15   c-3.853,2.224-8.129,3.361-12.461,3.361c-2.172,0-4.356-0.285-6.511-0.863c-6.451-1.729-11.842-5.866-15.181-11.65l-86.804-150.348   l28.867-50L352.322,291H401.5c13.785,0,25,11.215,25,25S415.285,341,401.5,341z"></path><polygon style="fill:#F2F2F2;" points="256,291 256,341 300.36,341 271.493,291  "></polygon><path style="fill:#F2F2F2;" d="M305.646,123.531c-1.729-6.45-5.865-11.842-11.648-15.18c-11.936-6.892-27.256-2.789-34.15,9.151   L256,124.166l0,0v100l47.148-81.664C306.487,136.719,307.375,129.982,305.646,123.531z"></path></g></svg>
                                </div>
                                <div>
                                    <p class="download-text-01">Crafted by AI to provide a customized cyber insurance for each industrial sector needs. Our insurance
                                        product covers for the investigation (source of cyber incidents), customers’ notifications, business interruption, systems or data
                                        recovery/restoration,etc. We analyse your cyber risk and blockchain power surveillance system monitors your cyber risk 24/7. You
                                        do not need to worry about the complexity of the cyber insurance as it is fully taken care by our algorithm.</p>
                                </div>
                                <div style="padding: 10% 0;">
                                    <a class="custom-home-anchor" href="/free-risk-assessment">Watch the keynote</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="section-right">
                                <img class="app-image01" src="/urbanui/images/app_iphone_1.gif">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-black">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="section-left">
                                <img class="app-image02" src="/urbanui/images/app-02.png">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="section-right">
                                <h3 class="title">Intuitive Cyber Risk &nbsp;&nbsp; Report</h3>
                                <ul>
                                    <li>The AI enabled engine will recommend the necessary actions to reduce the cyber risk and the insurance premium. The customer can ignore the recommendations and move to the next step to purchase the cyber insurance with the current risk</li>
                                </ul>
                                <div style="padding: 1% 3%">
                                    <button class="btn btn-danger">GET A QUOTE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-white">
                    <div style="padding-top: 3%">
                        <div style="height: 360px; width: 640px; position: absolute; left: 50%; transform: translateX(-50%);">
                            <iframe style="height: 100%; width: 100%" src="https://www.youtube.com/embed/7-i10uczWsA?playlist=7-i10uczWsA&loop=1&mute=1&showinfo=0&controls=0&start=0&autoplay=1"></iframe>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 360px;">
                        <div class="col-md-6">
                            <div class="section-left">
                                <h3 class="custom-box-title">Interactive Insurance Underwriting</h3>
                                <p class="download-text-02">Powered by deep learning and transfer learning, the chat enabled app is able to communicate with
                                    the client smoothly and collect
                                    the information needed for
                                    the cyber insurance underwriting in a minute.</p>
                                <div>
                                    <button class="btn btn-danger">GET A QUOTE</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="section-right">
                                <img class="app-image02" src="/urbanui/images/app-03.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-gray">
                    <div class="section-left">
                        <div style="text-align: center">
                            <img class="app-image02" src="/urbanui/images/app-04.png">
                        </div>
                    </div>
                    <div class="section-right">
                        <h3 class="title">Customization for Any Business</h3>
                        <p class="download-text-03">The system offers the insurance plans from several companies to customize the cyber insurance even further</p>
                        <div style="padding: 5% 0">
                            <button class="btn btn-danger">GET A QUOTE</button>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('../partials/footer') %>
        </div>
    </div>

</div>
<!-- container-scroller -->

<%- include('../partials/foot') %>
<!--<script src="/urbanui/custom/js/free-risk-assessment.js"></script>-->
</body>
</html>