<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/urbanui/custom/css/summits.css">
<body>
<div class="container-scroller">
    <%- include('../partials/header') %>
    <%- include('../partials/sidebar') %>

    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper" style="padding: 0;">
                <div class="section-white">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="section-left">
                                <h3 class="top-title">Cyber Security Summits</h3>
                                <div>
                                    <p class="download-text-01">Introducing Apple Watch Series 4. Fundamentally redesigned and re-engineered to help you stay even more active, healthy, and connected.</p>
                                </div>
                                <div style="padding: 10% 0;">
                                    <a class="custom-home-anchor" href="javascript:">Watch the keynote</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="section-right">
                                <img class="app-image01" src="/urbanui/images/cybersecurityimage1.png">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-white" style="padding-top: 5%;">
                    <div class="text-center">
                        <img src="/urbanui/images/summitsimage01.png">
                    </div>
                </div>

                <div style="background: black; padding-top: 4%; padding-bottom: 2%;">
                    <div class="text-center">
                        <img src="/urbanui/images/summitsimage02.png">
                    </div>
                </div>

            </div>

            <%- include('../partials/footer') %>
        </div>
    </div>

</div>
<!-- container-scroller -->

<%- include('../partials/foot') %>
<!--<script src="/urbanui/custom/js/free-risk-assessment.js"></script>-->
</body>
</html>