<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">

        <%- include('../partials/header-top.ejs') %>

        <!-- partial -->
        <div class="main-panel">

            <%- include('../partials/header.ejs') %>

            <div class="content-wrapper container-wrapper-width">

                <%- include('../partials/sidebar.ejs') %>

                <div class="content-area">
                    <div class="content-area-inner">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="home-block-title">Coming soon ...</h1>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<%- include('../partials/footer.ejs') %>

<%- include('../partials/foot.ejs') %>

</body>
</html>